<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cpre388.gifsound">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LandingPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GifSoundView"
            android:label="@string/title_activity_gif_sound_view"
            android:parentActivityName=".LandingPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cpre388.gifsound.LandingPage" />
        </activity>
        <activity
            android:name=".RedditComments"
            android:label="@string/title_activity_reddit_comments"></activity>
    </application>

</manifest>
